- content_for :title, 'processed rebate forms'

.pure-g.rebate-wrapper
  .pure-u-1
    %h1.rebate-title
      Rates Rebate 2018/2019
    %h2.rebate-subtitle
      Customer search
  
  = react_component('CustomersSummary', rebateForms: @processed_rebate_forms )
