AMAZON_ACCESS_KEY_ID=".."
AMAZON_BUCKET="pancakes-are-yummy"
AMAZON_SECRET_ACCESS_KEY=".."
APP_URL="http://localhost:3000/"
AWS_REGION="ap-southeast-2"
CORS_ORIGINS="*"
CORS_RESOURCE="*"
COUNCIL_EMAIL="ratesrebate@tauranga.govt.nz"
RAYGUN_APIKEY=".."
SIGNING_URL="http://127.0.0.1:3000/#/{token}"
YEAR="2018"
HMAC_SECRET="DgD3NMLjoEsgbT7bOmpgI0svg18BMHuy0VpE6cX9xMMxznWhvEKIggR61nE/E"
IPAD_JWT_LENGTH=1000