AMAZON_ACCESS_KEY_ID=".."
AMAZON_BUCKET="pancakes-are-yummy"
AMAZON_SECRET_ACCESS_KEY=".."
APP_URL="http://localhost:3000/"
AWS_REGION="ap-southeast-2"
CORS_ORIGINS="*"
COUNCIL_EMAIL="ratesrebate@tauranga.govt.nz"
OPENFISCA_ORIGIN="https://openfisca.ratesrebates.services.govt.nz/calculate"
RAYGUN_APIKEY=".."
SIGNING_URL="http://127.0.0.1:3000/#/{token}"
YEAR="2018"
