SIGNING_URL="http://127.0.0.1:3000/#/{token}"
COUNCIL_EMAIL="ratesrebate@tauranga.govt.nz"
RAYGUN_APIKEY=".."
CORS_ORIGINS="*"
OPENFISCA_ORIGIN="https://openfisca.ratesrebates.services.govt.nz/calculate"
YEAR="2018"
AMAZON_BUCKET="pancakes-are-yummy"
AMAZON_ACCESS_KEY_ID=".."
AMAZON_SECRET_ACCESS_KEY=".."
AWS_REGION="ap-southeast-2"
