- content_for :title, 'signed rebate forms'

.rebate-wrapper
  %h1.rebate-title
    Rates Rebate - The Future and Beyond
  %h2.rebate-subtitle
    Customer search

  = react_component('CustomersSummary', rebateForms: @signed_rebate_forms)
