.rebate-details-header.council-details-header
  %h3.rebate-details-title Council Details
  - unless @rebate_form.processed_state? || @rebate_form.batched_state?
    = link_to 'EDIT', admin_rebate_form_edit_council_fields_path(rebate_form_id: @rebate_form.id), class: 'pure-button rebate-edit council-edit'

.rebate-edit-form
  .flex-row.council-row
    .flex-item
      %label Valuation ID
      .rebate-search-input
        = @rebate_form.valuation_id
    .flex-item
      %label Application ID (optional)
      .rebate-search-input
        = @rebate_form.application_id
    .flex-item
      %label Customer ID (optional)
      .rebate-search-input
        = @rebate_form.customer_id
