- if @rebate_form.discarded?
  = link_to admin_rebate_form_undecline_path(@rebate_form), class: 'rebate-form__action--restore' do
    .nav-item
      .flex.action-icon
        = image_tag('tick1a.svg', class: 'rebate-header-icon')
      .flex
        Restore
- elsif @rebate_form.can_discard?
  = link_to admin_rebate_form_decline_path(@rebate_form), class: 'rebate-form__action--decline' do
    .nav-item
      .flex.action-icon
        = image_tag('cross.svg', class: 'rebate-header-icon')
      .flex
        Decline

