.rebate-header-buttons
  = link_to admin_rebate_forms_path, id: 'back' do
    =image_tag("search.svg", class: 'rebate-header-icon')
  = link_to edit_admin_rebate_form_path, id: 'reload' do
    =image_tag("blue-reload.svg", class: 'rebate-header-icon')

- if @rebate_form.signed_state?
  .rebate-banner#rebate-banner
    =image_tag("alert1.svg", class: 'rebate-banner-icon')
    .rebate-banner-header
      %h2.rebate-banner-title
        Are you sure you want to edit?
      .rebate-banner-text
        If you make any changes, the customer will have to sign the declaration again

.rebate-header
  %h2.rebate-title
    Customer details

  %h3.rebate-subtitle
    - if @rebate_form.signed_state?
      Signed and ready to process
    - else
      Signature required
