%h3 Rates
%table.pure-table.pure-table-bordered
  - rates_bills.each do |bill|
    %tr
      %th Rates
      %td
        $
        =bill.total_rates
    %tr
      %th Water
      %td
        $
        =bill.total_water_rates
    %tr
      %th TOTAL
      %td
        $
        =bill.total_bill
