= form_tag(admin_rebate_forms_path, method: :get, class: 'pure-form') do
  %fieldset
    .rebate-radio-wrapper
      = radio_button_tag 'completed', false, @completed == false
      Not Signed
      = radio_button_tag 'completed', true, @completed == true
      Signed

    .rebate-search-field
      %label Name
      = text_field_tag :name, @name, placeholder: "Eg. John Doe", class: "rebate-search-input", id: "name"


    %button.pure-button.pure-button-primary.rebate-search-button{type: "submit"}
      SEARCH
