.rebate-header-buttons.flex-row
  %span.nav
    = render 'navigation'
  %span.nav-right
    = render 'decline_actions'
    = render 'process_actions'

.rebate-header
  %h2.rebate-title
    Application details
    - if @rebate_form.not_signed_state?
      = link_to admin_rebate_form_generateqr_path(@rebate_form), id: 'generate_qr' do
        =image_tag("signature1.svg", class: 'rebate-generate-qr')

  %h3.rebate-subtitle
    - if @rebate_form.signed_state?
      Signed and ready to process
    - if @rebate_form.processed_state?
      Processed
    - if @rebate_form.not_signed_state?
      Signature required

