= render 'edit_header'

= react_component("EditForm", {isReadOnly: false, rebateForm: @rebate_form, property: @rebate_form.property, council: @rebate_form.council, ratesBills: @rebate_form.property.rates_bills})
