- content_for :title, "rebate forms"

.pure-g
  .pure-u-1
    %h1
      Rates Rebate 2018/2019
    %h2
      Customer search

  .pure-u-1-2
    = render 'search'

  .pure-u-1
    - if @rebate_forms.size.positive?
      = render 'results'
    - else
      %p No rebate forms found
