- content_for :title, "rebate forms"

.pure-g.rebate-wrapper
  .pure-u-1
    %h1.rebate-header
      Rates Rebate 2018/2019
    %h2.rebate-subhead
      Customer search

  .pure-u-1-2.rebate-search-box
    = render 'search'

  .pure-u-1
    - unless @name.nil?
      = render 'results'
