
- content_for :title, "RatesRebate #{@rebate_form.property.location}"

= render 'show_header'

= react_component("RebateForm", {isReadOnly: true, rebateForm: @rebate_form, property: @rebate_form.property, ratesBills: @rebate_form.property.rates_bills})
