%table.pure-table.pure-table-bordered
  %tr
    %th Rates
    %td
      $
      = rates_bill.total_rates
  %tr
    %th Water
    %td
      $
      = rates_bill.total_water_rates
  %tr
    %th TOTAL
    %td
      $
      = rates_bill.total_bill
