/*Colours*/
:root {
  --dove: #ebebeb;
  --gray: #ababab;
  --dark-gray: #4c4c4c;
  --dark-gray-hover: #3d3d3d;
  --orange: #d34322;
  --orange-hover: #b73a1e;
  --blue: #336699;
  --blue-hover: #1a4d80;
  --purple: #993366;
  --purple-hover: #6a2347;
  --white: #ffffff;
  --black: #000000;
}

.rebate-wrapper {
  margin: auto;
  max-width: 960px;
  padding: 4em;
}

.rebate-header {
  padding: 1.5em 4em;
}

.rebate-title {
  font-size: 3em;
  margin: 0;
}

.rebate-subtitle {
  font-size: 1.75em;
  margin: .4em 0;
}

.rebate-header-buttons {
  background-color: var(--dove);
  padding: 1.5em 4em;
}

.rebate-header-icon {
  margin-right: 2em;
  width: 1.75em;
}

.rebate-edit {
  background-color: var(--blue);
  border-radius: .2em;
  color: var(--white);
  float: right;
  width: 5em;
}

.rebate-search-box {
  background-color: var(--dove);
  padding: 1.75em;
  width: 770px;
}

.rebate-search-field {
  margin-bottom: 1em;
}

.rebate-search-input {
  line-height: 2em;
  margin-bottom: .5em;
  width: 100%;
}

.rebate-search-button {
  background-color: var(--blue);
  border-radius: .2em;
  color: white
}

.rebate-results-table {
  background-color: var(--dove);
  margin-top: 1.5em;
  padding: 1.75em;
  width: 770px;
}

.rebate-results-table-cell {
  background-color: var(--white) !important;
}

.rebate-amount {
  font-size: 4em;
}

.rebate-edit-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  width: 90vw;
  max-width: 1000px;
  min-width: 500px;
  background-color: var(--dove);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center
}

.flex-column {
  display: flex;
  flex-direction: column
}

.flex-item {
  width: 48.5%
}

.with-margin {
  margin-right: 3%
}
.one-quarter {
  width: 23.5%
}

.one-third {
  width: 33%
}

.full-width {
  width: 100%
}

.rebate-submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem
}
.rebate-add-income-button {
  line-height: 2em;
  margin: 0 auto .5em auto;
  padding: .4rem;  
}
.rebate-tabs {
  padding-bottom: .25rem;
  border-bottom: 2px solid var(--gray);
  margin-bottom: 1rem
}
.rebate-button {
  width: 200px;
  background: var(--dove);
  padding: 1rem;
  border: none;
  font-weight: bold

}

.rebate-button-selected {
  width: 200px;
  background: var(--dove);
  color: var(--blue);
  padding: 1rem;
  border: none;
  border-bottom: 5px solid var(--blue);
  font-weight: bold

}
.rebate-qrcode {
  display: flex;
  margin: 1em auto;
  background-color: black;
}

.rebate-generate-qr {
  border: 1px solid black;
  float: right;
  width: 5.5rem;
}

.rebate-done {
  background-color: var(--blue);
  border-radius: .2em;
  color: var(--white);
  float: right;
  width: 5em;
}
