- content_for :title, 'rebate form batches'

.pure-g.rebate-wrapper
  .pure-u-1
    %h1.rebate-title
      Rates Rebate 2018/2019
    %h2.rebate-subtitle
      Customer search
  = react_component('CustomersSummary', {current_user_roles: current_user.roles, batches: @batches})
