- content_for :title, 'rebate form batches'

.rebate-wrapper
  %h1.rebate-title
    Rates Rebate - The Future and Beyond
  %h2.rebate-subtitle
    Customer search
  = react_component('CustomersSummary', {current_user_roles: current_user.roles, batches: @batches})

