

%h3
  COVER PAGE for Pancake batch
  = @batch.id
  %p
    $
    = @batch.amount

- @batch.rebate_forms.each do |rebate_form|
  .pdf-page-break= render 'admin/rebate_forms/artefact', rebate_form: rebate_form
