/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require purecss
 *= require font-awesome
 *= require_tree .
*/

/*Colours*/
:root {
  --dove: #ebebeb;
  --gray: #ababab;
  --dark-gray: #4c4c4c;
  --dark-gray-hover: #3d3d3d;
  --orange: #d34322;
  --orange-hover: #b73a1e;
  --blue: #336699;
  --blue-hover: #1a4d80;
  --purple: #993366;
  --purple-hover: #6a2347;
  --white: #ffffff;
  --black: #000000;
  --light-green: #6dca7f;
}

/* Fonts
=============================== */
@font-face {
  font-family: 'Fira';
  src: url("fonts/FiraSans-Regular.eot");
  src: url("fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/FiraSans-Regular.woff") format("woff"),
  url("fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira-Bold';
  src: url("fonts/FiraSans-Bold.eot");
  src: url("fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/FiraSans-Bold.woff") format("woff"),
  url("fonts/FiraSans-Bold.ttf") format("truetype");
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--white);
  color: #333;
  margin: 33px;
}

a {
  background-color: var(--light-green);
  color: var(--black);
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--white);
  border-bottom: 1px solid var(--blue);
  text-decoration: underline;
}

#main {
  font-family: Georgia, "Cambria", serif;
}

.header {
  background-color: var(--black);
  padding: 1.25em;
}

.header-item {
  display: inline-block;
}

.header-title {
  color: var(--white);
  font-family: "Fira-Bold", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.header-login {
  color: var(--gray);
  float: right;
  vertical-align: middle;
  font-size: 16px;
}

.header-logout-link {
  border-radius: 4px;
  color: var(--dove);
  background-color: var(--dark-gray);
  margin-left: 15px;
  padding: 5px 10px;
  font-size: 14px;
}

label {
  font-weight: bold;
}

input {
  padding: 7px 10px;
  margin: 5px 0 15px !important;
}

.content {
  padding: 2em 1em 0;
}

.search-form {
  float: right;
}
