@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.pdf-page-break {
  page-break-before: always;
}

body {
  margin: 0;
}

.container {
  margin: 66px 60px 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: #000000;
}

.border {
  border: 1px solid #b10d1e;
}

.container-secondary {
  margin: 30px 60px 0;
  position: relative;
}

.main-header {
  background-color: #000000;
  position: relative;
  height: 100px;
}

.heading {
  font-family: "Fira Bold", sans-serif;
  font-size: 25px;
  line-height: 1em;
  display: inline-block;
  margin-top: 40px;
  top: 65px;
  color: #ffffff;
}

.pdf-image {
  position: absolute;
  top: 150px;
  right: 540px;
  width: 400px;
  height: 70px;
}

.applicant-info,
.address-info {
  display: inline-block;
}

.address-info {
  float: right;
  margin-right: 150px;
}

.column {
  display: inline-block;
  margin-right: 50px;
}

.row {
  margin-left: 0;
}

.phone-email {
  margin: 30px 0;
}

.rebate-amount,
.rates-amount {
  display: inline-block;
}

.rebate-amount {
  float: right;
  margin-right: 180px;
}

.declaration-and-signature {
  margin-bottom: 50px;
}

.declaration,
.witness-details {
  width: 60%;
}

.declaration,
.applicant-signature {
  display: inline-block;
}

.applicant-signature {
  float: right;
  margin-right: 110px;
}

.witness-details,
.witness-signature {
  display: inline-block;
}

.witness-signature {
  float: right;
  margin-right: 110px;
}

h3,
p {
  line-height: 1.4em;
  margin: 0;
}

h3 + p {
  margin-bottom: 10px;
}

h1,
h3 {
  font-family: "Fira Bold", sans-serif;
}

h3 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.pdf th,
.pdf td {
  padding: 10px 40px 20px 0;
}

.pdf td {
  margin-bottom: 33px;
}

table h3 {
  margin-top: 40px;
}

.applicant,
.witness {
  width: 200px;
  margin-top: 20px;
}

.applicant-heading,
.witness-heading {
  font-style: italic;
}

.table-col {
  display: inline-block;
  width: 100px;
}

.table-col p {
  font-size: 19px;
}

hr {
  margin: 20px 0;
}

.batches-heading {
  position: relative;
  top: 200px;
}

.batches-heading p {
  margin-bottom: 10px;
}
