.pdf-page-break {
  page-break-before: always;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3.5em;
  color: #4f4b46;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 680px;
}

.layout {
  text-align: center;
}

section {
  margin-bottom: 42px;
}

h2 {
  font-size: 1.1em;
}

h2 > span {
  font-weight: 400;
}

h3 {
  font-size: 1.1em;
  font-weight: 700;
}

.heading-primary {
  color: #4f4b46;
}

.heading-secondary {
  color: #6dca7f;
  margin-bottom: 10px;
}
  .heading-secondary ~ p {
    margin-top: 0;
}

.heading-paragraph {
  font-size: 21px;
}

* {
  line-height: 1.4em;
}

hr {
  margin: 60px 0;
}

h4,
legend {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  font-weight: 500;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.1em;
}



main {
  overflow: auto;
}



.main-header {
  background-color: #dafdc5;
  color: #6dca7f;
  margin-bottom: 20px;
  overflow: auto;
  position: relative;
  text-align: left;
}
.main-header img {
  height: 55px;
  position: absolute;
  top: 32%;
}
.main-header a {
  color: #6dca7f;
}

.main-header p {
  margin-top: 40px;
}

.main-header p.heading {
  font-size: 32px;
  font-weight: 800;
  display: inline-block;
  margin-left: 110px;
  color: #6dca7f;
}

p {
  font-size: 1em
}

.accordian {
  margin: 30px 0 20px;
}

.accordian-header {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  background-color: #e4e4e4;
  padding: 10px 55px 10px 20px;
  position: relative;
}
  .accordian-header span {
    font-weight: normal;
}
  .accordian-header:hover {
    cursor: pointer;
}
  .accordian-header::after {
    font-family: FontAwesome;
    font-size: 21px;
    content: "\F067";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    color: #333;
}

.accordian-body {
  text-align: left;
  background-color: #e4e4e4;
  margin-top: 0;
  padding: 8px 20px 20px;
}
  .accordian-body > p:first-child {
    margin-top: 10px;
}
  .accordian-body p {
    font-size: 17px;
}

canvas {
  border: 1px solid #000;
}

.Select-input {
  height: 44px;
}
  .Select-input > input {
    width: 100% !important;
    padding: 0;
}

.Select-value {
  padding-top: 5px;
}

.Select-control {
  margin: 10px 0 0;
  border-color: #677a8e;
}

.Select-placeholder {
  display: none !important;
}

.select-results {
  font-size: 24px;
}

.autocomplete-form {
  text-align: center;
}

.Select {
  display: inline-block;
  width: 100%;
}

.radio, .radio-list span, .radio-list input:checked + span {
  display: inline-block;
  border: 1px solid #677a8e;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 18px;
  font-size: 18px;
  margin: 5px 0;
  box-sizing: border-box;
}

.radio-list {
  display: block;
  margin-bottom: 30px;
}
  .radio-list span:hover {
    cursor: pointer;
}
  .radio-list input {
    position: absolute;
    left: -9999px;
    margin: 0;
}
    .radio-list input:checked + span {
      background-color: #677a8e;
      color: #fff;
  }
  .radio-list + label {
    display: inline-block;
    margin-top: 40px;
}
  .radio-list div div:first-child {
    margin-top: 20px;
}

.radio-list-compact {
  width: 70%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.theme-sand {
  overflow: auto;
  background: #fafafa;
}

.field {
  display: flex;
  flex-flow: column;
  margin: 40px 0;
}
  .field input:nth-child(2) {
    margin-bottom: 0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
  .column:first-child {
    padding-right: 10px;
}
  .column:last-child {
    padding-left: 10px;
}

.pdf-image {
  position: absolute;
  left: 0;
}
