.pdf {
  font-size: 48px;
  line-height: 1.5;
}

.pdf h3 {
  margin-bottom: 20px;
}

.container {
  margin: 200px 180px 0;
}

.main-header {
  background: rgb(218,253,197);
  padding-bottom: 100px;
}
.heading {
  font-size: 111px;
  font-weight: bold;
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 0;
  color: rgb(31,132,49);
}

.sub-heading {
  font-size: 70px;
  font-weight: bold;
  margin-top: 30px;
  color: rgb(83,184,103);
}

.pdf-image {
  position: absolute;
  top: 200px;
  right:130px;
  width: 789px;
  height: 213px;
}

.column {
  display: inline-block;
  width: 300px;
  margin-right: 60px;
}
.row {
  margin-left: 0;
}

.phone_email {
  margin-top: 40px;
  margin-bottom: 200px;
}

.question {
  margin-bottom: 100px;
}

.question h3 {
  margin-bottom: -30px !important;
  padding-bottom: 0 !important;
}

.table-border {
  border: 10px solid #ccc;
  border-radius: 100px;
  padding: 60px 100px;
  width: 100%;
}

.pdf th,
.pdf td {
  padding: 10px 120px 20px 0;
}

.pdf td {
  margin-bottom: 100px;
}

table h3 {
  margin-top: 40px;
}
