%p#notice= notice

%p=@user.email

- if @user.deactivated_at.present?
  %p
    Deactivated
    = @user.deactivated_at

- if @user.role.present?
  %p
    Role:
    =@user.role.name
    staff member

- if @user.council.present?
  %p
    Council:
    = @user.council.name

= link_to 'Back', admin_users_path
