%p
  Hi
  = @rebate_form.full_name

%p
  Your application for a rates rebate for the 1 July 2018 – 30 June 2019 rates
  year has been sent to the #{@council.name} City Council.

%p
  %b What you need to do now

%p
  %ul
    %li Go to the a council service centre
    %li Tell the Service Centre staff you're there to sign your rates rebate application.
    %li Evidence of income helps to ensure you receive the correct rebate promptly.
    %li If you are self-employed, you must supply income evidence with your application.

%p
  Please note: you can only apply for a rebate for the 2018/2019 rates year between
  1 July 2018 – 30 June 2019.

%p
  Make sure you complete your application by getting your signature witnessed at the council
  offices at your earliest convenience

%p Once your application is completed, your total rebate will be applied to your rates account.
