Hi [name] 
<br><br>
Your application for a rates rebate for the 1 July 2017–30 June 2018 rates year has been sent to the Tauranga City Council.
<br><br>
<b>What you need to do now</b>
<ul>
<li>Go to the Tauranga City Council at <a href=“https://goo.gl/maps/Aty4zvvpW4B2”>91 Willow Street, Tauranga.</a> </li>
<li>Bring your proof of income. This is the only thing you need to bring with you to complete your application. </li>
<li>Tell the Service Centre staff you’re there to sign your rates rebate application. </li>
<br><br>
You will get a chance to review your application before you sign it. <br>
Once your application is completed, your total rebate will be applied to your rates account.
<br>
<b>Make sure you complete your application at the Council before 30 June 2018, as you can’t apply for a rebate for the 2017/2018 rates year after this date.
<br>
If you have any issues, call <a href=“tel:075777000”>07 5777 000</a>

%p= @rebate_form.valuation_id
%p= @rebate_form.fields['what_is_your_address']
