.header-bar
  %div.header-item
    %strong.header-title Rates Rebate 2018/2019
  %div.header-item.header-login
    - if current_user
      - if current_user.name
        =current_user.name
      - else
        =current_user.email
      = link_to destroy_user_session_path, method: :delete, class: 'header-logout-link' do
        LOG OUT x
